version: 2
jobs:
  build:
    docker:
      # specify the version here
      - image: circleci/elixir:1.11

    working_directory: ~/repo
    steps:
      - checkout
      - run: mix local.hex --force
      - run: mix deps.get
      - run: mix test
